.mainItem {
  border-top-style: ridge;
  border-bottom-style: ridge;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box {

  padding: 3px 7px 3px 7px;
  border-style: solid;
  border-radius: 3px;
  border-color: #777;
  border-width: 1px;
  margin-right: 5px;
  font-size: 13px;
}

.box:hover {
  background-color: #eee;
}

.grayHeart {
  color: #ccc;
}

.redHeart {
  color: red;
}