@import url('https://fonts.googleapis.com/css?family=Poppins');

.mainItem {
  border-top-style: ridge;
}

.shipping {
  font-family: "Poppins", sans-serif;
}

.shippingTitle {
  composes: shipping;
  font-size: 15px;
  margin-bottom: 0em;
}

.shippingText {
  composes: shipping;
  color: #444;
  font-size: 13px;
  margin-top: 3px;
}

.shippingHeader {
  composes: shippingText;
  font-weight: bold;
  margin-top: 3px;
}

.shippingUpgrades {
  composes: shippingText;
  font-size: 10px;
  color: #555;
}

.shippingDest {
  composes: shippingText;
  text-decoration: underline;
}

.destSelect {
  box-sizing: border-box;
  margin-top: 10px;
  width: 100%;
  height: 70px;
}

.countrySelectDiv {
  float: left;
  width: 58%;
}

.zipSelectDiv {
  float: left;
  padding-left: 2%;
  width: 40%;
  height: 38px;
}

.selectHeader {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 7px;
}

.destInput {
  width: 100%;
  height: 38px;
  background-color: #fff;
  border-color: #adaeaa;
  margin-bottom: 10px;
  border-radius: 2px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 2px;
}